<div class="container-flex" style="height: 100%;">
  <div class="row mt-2">
    <div class="col-6" style="height: 70vh;">
      <textarea #ref [value]="value"></textarea>
    </div>
    <div class="col-5" style="border: 2px solid whitesmoke; box-shadow: 2px 2px 10px 2px #fff4;">
      aquí va el renderizado html
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 text-center">

      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Click me
      </button>

      <button class="btn btn-success ms-2" (click)="getUser()">Get User</button>

    </div>
    <div class="col-6">
      <div class="m-2 p-2 bg-dark">

        <code>
          {{env}}
          {{log}}
        </code>

      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-dark text-center">
        Bienvenido!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
