<div class="row">
  <div class="col-6 text-center mt-5">

    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Click me
    </button>

    <button class="btn btn-success ms-2" (click)="getUser()">Get User</button>

  </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-dark text-center">
        Bienvenido!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="m-2 p-2 bg-success">
  <pre>
    {{env}}
    {{log}}
  </pre>
</div>
