<app-navigator (myEvent)="imprimir()"></app-navigator>

<div class="container-fluid mt-1">

  <div class="row">
    <div class="col-6 p-0" style="height: 90vh;">

      <app-editor></app-editor>

    </div>
    <div class="col-6 p-0">

      <app-preview></app-preview>

    </div>
  </div>
</div>

<img [src]="imageSrc">

<iframe class="hidden" #printable [src]="printableContent | safepipe" (load)="loadPrintable()"
  [height]="printableHeight"></iframe>

<!--
<div class="container">
  <div class="mt-2">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Click me
    </button>
    <button class="btn btn-success ms-2" (click)="getUser()">Get User</button>
    <button class="btn btn-warning ms-2" (click)="saveIframe()">Get User</button>
    <div class="m-2 p-2 bg-dark">
      <code>
        {{env}}
        {{log}}
      </code>
    </div>
  </div>
</div>
-->

<!-- Button trigger modal -->

<!-- Modal -->
<!--
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-dark text-center">
        Bienvenido!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
-->
